html {
    width: 100%;
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'EB Garamond', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    width: 100% !important;
    height: calc(100% - 65px) !important;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.bordered-right {
    border-right: 1px solid #ccc;
}

.aside {
    height: 100%;
    width: 250px;
    min-width: 250px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 0;
    padding-right: 10px;
    margin: 0;
}

.sandbox {
    box-shadow: -1px -3px 15px 0px #ccc;
    -webkit-box-shadow: -1px -3px 15px 0px #ccc;
    -moz-box-shadow: -1px -3px 15px 0px #ccc;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}


/*Left*/

.modal.left.fade .modal-dialog {
    left: 0;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}


/*Right*/

.modal.right.fade .modal-dialog {
    right: 0;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}


/* ----- MODAL STYLE ----- */

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #eeeeee;
    background-color: #fafafa;
}

.overflow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.overflow::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.overflow::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
.e-caret-hide .dropdown-toggle::after{
    display:none;
}