:root {
    --primary-color: #ffffff;
    --secondary-color: #273c66;
    --yellow-color: #FFD300;
    --font-color: #afafaf;
    --bg-color: #0b0d0e;
    --body-color: #070707;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #131617;
    --dropdown-color: #191c1d;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617;
    --searchbox-bg: #F2F4F5;
}

body {
    background-color: var(--primary-color);
}

.navbar {
    background-color: #131921;
    min-height: 72px;
}

.searchBox {
    background-color: var(--searchbox-bg);
    min-height: 150px;
}

.rounded {
    border-radius: 50% !important;
}

.searchBox .searchField {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 400;
}

.img-add-photo-gallery:hover {
    outline: 1px solid #f2f2f2;
    cursor: pointer;
}

.searchBox .iconButton {
    padding: 10px;
}

.copyrights {
    color: var(--body-color);
}